*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}
a{
  text-decoration: none;
  color: rgb(230, 220, 220);
}
img{
  vertical-align: middle;
}
ul{
  list-style: none;
}
section.container-bg{
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 20vh;
}
div.container{
  color: #fff;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 30px 80px 30px;
  background-color: rgba(45, 58, 75, 0.5);
}